* {
    font-family: hack, sans-serif
}

/* this is the style section for the header*/

.header-container {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.left-header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    padding: 8px;
    gap: 32px;
    font-size: 18px;
    color: #e5e7eb;
}

/* this is the style section for the main content*/
.main-container {
    background-color: #1f2937;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 130px;
    padding: 8px;
    gap: 10px;

}

.right-main {
    display: flex;
}

.main.text {
    margin-top: 90px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 500px;
}

.main.subtext {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}

.right-main img {
    color: #e5e7eb;
    height: 450px;
    width: 650px;
    margin-top: 90px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 8px;
    border-radius: 25px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 25px;
    border: #1f2937;
}

/* This is the section for the images */

.information-container {
    background-color: #f9faf8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-heading {
    display: flex;
}

.heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 32px;
    margin-top: 36px;
}

.information-image {
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.information-image img {
    border: 1px solid #1f2937;
    border-radius: 25px;
    margin: 8px;
    height: 250px;
    width: 250px;
}

.subtext-image {
    font-size: 18px;
    color: #1f2937;
    margin-top: 12px;
    width: 250px;
    margin-left: 23px;
    margin-bottom: 90px;
}

/* This is the quote section */

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    width: 1100px;
    padding: 16px;
    margin-top: 100px;
}

.comment {
    font-size: 18px;
    font-weight: bolder;
    color: #1f2937;
    margin-left: 860px;
    margin-bottom: 50px;
}
/* Sign up section */
.sign-up.box{
    background-color: #3882f6;
    border-radius: 25px;
    margin:50px 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sign-up.left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
}
.sign-up.heading{
    font-size: 24px;
    color: #f9faf8;
}
.sign-up.subtext{
    font-size: 18px;
    color: #e5e7eb;
    width: 300px;
    margin-bottom: 16px;
    margin-left: 30px;
}
.sign-up-container button{
    border: 1px solid white;
    border-radius: 25px0;
}
/* footer section*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 30px;
    color: #e5e7eb;
}